body {
  font-size: #{$font_size}px;
  line-height: #{$font_size * 1.5}px;
  font-family: $font_family_base;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

textarea, select, input[type="date"],
input[type="datetime"], input[type="datetime-local"],
input[type="email"], input[type="month"],
input[type="number"], input[type="password"],
input[type="search"], input[type="tel"],
input[type="text"], input[type="time"],
input[type="url"], input[type="week"] {
  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

  -webkit-background-clip: padding;

  -moz-background-clip: padding;

  background-clip: padding-box;

  -webkit-border-radius: 0;

  -moz-border-radius: 0;

  -ms-border-radius: 0;

  -o-border-radius: 0;

  border-radius: 0;

  -webkit-appearance: none;

  background-color: $color_white;

  color: $color_black;

  outline: 0;

  margin: 0;

  padding: 0;

  text-align: left;

  font-size: 1em;

  height: 1em;

  vertical-align: middle;

  border: 1px solid;
}

%hx {
  font-family: $font_family_title;
  text-transform: uppercase;
  font-weight: bold;
}

%h1 {
  @extend %hx;
  font-size: #{$font_size_h1}px;
  line-height: #{$line_height_h1}px;
  padding: 2rem 0 0;

  @include mobile-all() {
    font-size: #{$font_size_h1 * 0.65}px;
    line-height: #{$line_height_h1 * 0.65}px;
    padding: 1rem 0 0;
  }
}

%h2 {
  @extend %hx;
  font-size: #{$font_size_h2}px;
  line-height: #{$line_height_h2}px;
  padding: 1.5rem 0 0;

  @include mobile-all() {
    font-size: #{$font_size_h2 * 0.65}px;
    line-height: #{$line_height_h2 * 0.65}px;
    padding: 0.75rem 0 0;
  }
}

%h3 {
  @extend %hx;
  font-size: #{$font_size_h3}px;
  line-height: #{$line_height_h3}px;
  padding: 1rem 0 0;

  @include mobile-all() {
    font-size: #{$font_size_h3 * 0.65}px;
    line-height: #{$line_height_h3 * 0.65}px;
    padding: 0.5rem 0 0;
  }
}

%h4 {
  @extend %hx;
  font-size: #{$font_size_h4}px;
  line-height: #{$line_height_h4}px;
  padding: 0.5rem 0 0;

  @include mobile-all() {
    font-size: #{$font_size_h4 * 0.65}px;
    line-height: #{$line_height_h4 * 0.65}px;
    padding: 0.25rem 0 0;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @extend %hx;
}

h1, .h1 {
  @extend %h1;
}

h2, .h2 {
  @extend %h2;
}

h3, .h3 {
  @extend %h3;
}

h4, .h4 {
  @extend %h4;
}

.preloader {
  opacity: 0;
}

a {
  color: $color_gray_light;

  &:hover {
    color: $color_gray_ligten;
  }
}


.more-btn {
  line-height: 1.5;
  text-transform: uppercase;
  color: $color_white;
  cursor: pointer;
  display: flex;
  align-items: center;

  @include transition(all, 0.3s, ease);

  svg {
    margin-left: 15px;
    @include transition(all, 0.3s, ease);
  }
  &:hover {
    color: inherit;

    svg {
      margin-left: 25px;
    }
  }

  &_down {
    color: $color_white;
    cursor: pointer;
    width: 100%;
    display: block;
    text-align: center;
    padding-bottom: 30px;

    svg {
      transform: rotate(90deg);
      @include transition(all, 0.3s, ease);
    }
    &:hover {
      svg {
        transform: rotate(90deg) translateX(10px);
      }
    }
  }
}

@import "components/header";
@import "components/footer";
@import "components/top-slider";
@import "components/main-sections-nav";
@import "components/card-item";

.main {
  &__promo {
    background-color: $color_white;
    color: $color_gray_ligten;
    padding: 100px 0 50px;

    .container {
      max-width: #{map_get($container-max-widths, xl)};
    }

    &_heading {
      text-align: center;
      margin-bottom: 50px;
      &_title {
        color: $color_white_dirty;
        font-family: $font_family_title;
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.72px;
        margin-bottom: 30px;
      }
      &_desc {
        width: 670px;
        margin: auto;
        text-align: left;
      }
    }

    &_dark {
      background-color: $color_gray_darkest;
    }
  }
}