<div class="wr-brands">
    <div class="container">
        <div class="row">
            <div class="col brand">
                <img src="img/brands/franke.jpg" alt="">
            </div>
            <div class="col brand">
                <img src="img/brands/franke.jpg" alt="">
            </div>
            <div class="col brand">
                <img src="img/brands/franke.jpg" alt="">
            </div>
            <div class="col brand">
                <img src="img/brands/franke.jpg" alt="">
            </div>
            <div class="col brand">
                <img src="img/brands/franke.jpg" alt="">
            </div>
            <div class="col brand">
                <img src="img/brands/franke.jpg" alt="">
            </div>
            <div class="col brand">
                <img src="img/brands/franke.jpg" alt="">
            </div>
            <div class="col brand">
                <img src="img/brands/franke.jpg" alt="">
            </div>
            <div class="col brand">
                <img src="img/brands/franke.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img src="img/slides/slide-1.jpg"></div>
        <div class="swiper-slide" ><img src="img/slides/slide-2.jpg"></div>
        <div class="swiper-slide" ><img src="img/slides/slide-1.jpg"></div>
        <div class="swiper-slide" ><img src="img/slides/slide-1.jpg"></div>
        <div class="swiper-slide" ><img src="img/slides/slide-2.jpg"></div>
        <div class="swiper-slide" ><img src="img/slides/slide-1.jpg"></div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</div>