<!--<div class="wr-brands">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col brand">-->
                <!--<img src="img/brands/franke.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="col brand">-->
                <!--<img src="img/brands/franke.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="col brand">-->
                <!--<img src="img/brands/franke.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="col brand">-->
                <!--<img src="img/brands/franke.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="col brand">-->
                <!--<img src="img/brands/franke.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="col brand">-->
                <!--<img src="img/brands/franke.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="col brand">-->
                <!--<img src="img/brands/franke.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="col brand">-->
                <!--<img src="img/brands/franke.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="col brand">-->
                <!--<img src="img/brands/franke.jpg" alt="">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<div class="wr-brands">

    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><img src="img/brands/faber1.png"></div>
            <div class="swiper-slide" ><img src="img/brands/falmec.png"></div>
            <div class="swiper-slide" ><img src="img/brands/franke.png"></div>
            <div class="swiper-slide" ><img src="img/brands/gorenje.png"></div>
            <div class="swiper-slide" ><img src="img/brands/insinkerator.png"></div>
            <div class="swiper-slide" ><img src="img/brands/kithen_aid.png"></div>
            <div class="swiper-slide" ><img src="img/brands/kuppersbusch.png"></div>
            <div class="swiper-slide" ><img src="img/brands/teka.png"></div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>

</div>