<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <div class="slide-brand-card">
                <img src="img/catalog/smeg.png" alt="">
                <div class="slide-brand-card_text">
                    <p>80 наименований</p>
                    <p>155 000 - 255 000руб.</p>
                </div>
                <a href="" class="slide-brand-card_more">
                    <svg data-toggle="tooltip" data-placement="left"
                         title="Перейти">
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="slide-brand-card">
                <img src="img/catalog/falmec.png" alt="">
                <div class="slide-brand-card_text">
                    <p>80 наименований</p>
                    <p>155 000 - 255 000руб.</p>
                </div>
                <a href="" class="slide-brand-card_more">
                    <svg data-toggle="tooltip" data-placement="left"
                         title="Перейти">
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="slide-brand-card">
                <img src="img/catalog/franke.png" alt="">
                <div class="slide-brand-card_text">
                    <p>80 наименований</p>
                    <p>155 000 - 255 000руб.</p>
                </div>
                <a href="" class="slide-brand-card_more">
                    <svg data-toggle="tooltip" data-placement="left"
                         title="Перейти">
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="slide-brand-card">
                <img src="img/catalog/smeg.png" alt="">
                <div class="slide-brand-card_text">
                    <p>80 наименований</p>
                    <p>155 000 - 255 000руб.</p>
                </div>
                <a href="" class="slide-brand-card_more">
                    <svg data-toggle="tooltip" data-placement="left"
                         title="Перейти">
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="slide-brand-card">
                <img src="img/catalog/smeg.png" alt="">
                <div class="slide-brand-card_text">
                    <p>80 наименований</p>
                    <p>155 000 - 255 000руб.</p>
                </div>
                <a href="" class="slide-brand-card_more">
                    <svg data-toggle="tooltip" data-placement="left"
                         title="Перейти">
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

</div>
<!-- If we need navigation buttons -->
<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>
