<section class="wr-events">

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h3 class="title-center">ГОТОВИМ ДЛЯ ВАС</h3>
            </div>
        </div>
    </div>

    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="container swiper-wrapper">
            <!-- Slides -->
            <div class="row swiper-slide">
                <div class="col-md-6 mb-4">
                    <a href="img/news/news-01.jpg" class="swipebox" rel="g-evt-1"><img src="img/news/news-01.jpg" alt=""></a>
                </div>
                <div class="col-md-6 mb-4 align-self-center events-text">
                    <h3>НАЗВАНИЕ МЕРОПРИЯТИЯ</h3>
                    <p>Фото и информация с нашего последнего мероприятия. Хотите попасть на следующий мастер-класс?</p>
                    <p class="events-text__link"><a class="more-btn more-btn_gray" href="#">Узнать больше</a></p>
                </div>
                <div class="col-md-6 mb-4">
                    <a href="img/news/news-02.jpg" class="swipebox" rel="g-evt-1"><img src="img/news/news-02.jpg" alt=""></a>
                </div>
                <div class="col-md-6 mb-4">
                    <a href="img/news/news-03.jpg" class="swipebox" rel="g-evt-1"><img src="img/news/news-03.jpg" alt=""></a>
                </div>
                <div class="col-md-4 mb-4"><a href="img/news/news-04.jpg" class="swipebox" rel="g-evt-1"><img src="img/news/news-04.jpg" alt=""></a></div>
                <div class="col-md-4 mb-4"><a href="img/news/news-05.jpg" class="swipebox" rel="g-evt-1"><img src="img/news/news-05.jpg" alt=""></a></div>
                <div class="col-md-4 mb-4"><a href="img/news/news-06.jpg" class="swipebox" rel="g-evt-1"><img src="img/news/news-06.jpg" alt=""></a></div>
            </div><!-- /slider-slides -->

        </div> <!--/sliderwrapper -->

    </div><!--/slider-container -->

</section>
