<section class="wr-events">

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h3 class="title-center">ГОТОВИМ ДЛЯ ВАС</h3>
            </div>
        </div>
    </div>

    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">

                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <a href="img/events/event-1/events-photo-1.jpg" class="swipebox" rel="g-evt-1"><img src="img/events/event-1/events-photo-1.jpg" alt=""></a>
                        </div>
                        <div class="col-md-6 mb-4xt">
                            <div class="card-item card-item_light">
                                <div class="card-item_text">
                                    <div class="card-item_text_inner">
                                        <h3>НАЗВАНИЕ МЕРОПРИЯТИЯ</h3>
                                        <p>Фото и информация с нашего последнего мероприятия. Хотите попасть на
                                            следующий мастер-класс?</p>
                                    </div>
                                    <div class="card-item_text_link">
                                        <a class="btn" href="#">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <a href="img/events/event-1/events-photo-2.jpg" class="swipebox" rel="g-evt-1"><img src="img/events/event-1/events-photo-2.jpg" alt=""></a>
                        </div>
                        <div class="col-md-6 mb-4">
                            <a href="img/nevents/event-1/events-photo-3.jpg" class="swipebox" rel="g-evt-1"><img src="img/events/event-1/events-photo-3.jpg" alt=""></a>
                        </div>
                        <div class="col-md-4 mb-4"><a href="img/events/event-1/events-photo-4.jpg" class="swipebox" rel="g-evt-1"><img src="img/events/event-1/events-photo-4.jpg" alt=""></a></div>
                        <div class="col-md-4 mb-4"><a href="img/events/event-1/events-photo-5.jpg" class="swipebox" rel="g-evt-1"><img src="img/events/event-1/events-photo-5.jpg" alt=""></a></div>
                        <div class="col-md-4 mb-4"><a href="img/events/event-1/events-photo-6.jpg" class="swipebox" rel="g-evt-1"><img src="img/events/event-1/events-photo-6.jpg" alt=""></a></div>
                    </div>
                </div>

            </div><!-- /slider-slides -->

        </div> <!--/sliderwrapper -->

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div> <!--/slider-container -->

</section> <!--/section -->

<div class="wr-events-month">

    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide events-month "><span>События июля 2018</span></div>
            <div class="swiper-slide events-month"><span>События июня 2018</span></div>
            <div class="swiper-slide events-month"><span>События мая 2018</span></div>
            <div class="swiper-slide events-month"><span>События апреля 2018</span></div>
            <div class="swiper-slide events-month"><span>События марта 2018</span></div>
            <div class="swiper-slide events-month"><span>События февраля 2018</span></div>
            <div class="swiper-slide events-month"><span>События января 2018</span></div>
            <div class="swiper-slide events-month"><span>События декабря 2017</span></div>
            <div class="swiper-slide events-month"><span>События ноября 2017</span></div>
            <div class="swiper-slide events-month"><span>События октября 2017</span></div>
            <div class="swiper-slide events-month active"><span>События сентября 2017</span></div>
        </div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>

</div>

