<section class="wr-events">

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h3 class="title-center">ГОТОВИМ ДЛЯ ВАС</h3>
            </div>
        </div>
    </div>

    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">

                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <a href="img/news/news-01.jpg" class="swipebox" rel="g-evt-1"><img src="img/news/news-01.jpg" alt=""></a>
                        </div>
                        <div class="col-md-6 mb-4xt">
                            <div class="card-item card-item_light">
                                <div class="card-item_text">
                                    <div class="card-item_text_inner">
                                        <h3>НАЗВАНИЕ МЕРОПРИЯТИЯ</h3>
                                        <p>Фото и информация с нашего последнего мероприятия. Хотите попасть на
                                            следующий мастер-класс?</p>
                                    </div>
                                    <div class="card-item_text_link">
                                        <a class="btn" href="#">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <a href="img/news/news-02.jpg" class="swipebox" rel="g-evt-1"><img src="img/events/event-1/news-02.jpg" alt=""></a>
                        </div>
                        <div class="col-md-6 mb-4">
                            <a href="img/news/news-03.jpg" class="swipebox" rel="g-evt-1"><img src="img/news/news-03.jpg" alt=""></a>
                        </div>
                        <div class="col-md-4 mb-4"><a href="img/news/news-04.jpg" class="swipebox" rel="g-evt-1"><img src="img/news/news-04.jpg" alt=""></a></div>
                        <div class="col-md-4 mb-4"><a href="img/news/news-05.jpg" class="swipebox" rel="g-evt-1"><img src="img/news/news-05.jpg" alt=""></a></div>
                        <div class="col-md-4 mb-4"><a href="img/news/news-06.jpg" class="swipebox" rel="g-evt-1"><img src="img/news/news-06.jpg" alt=""></a></div>
                    </div>
                </div>

            </div><!-- /slider-slides -->

        </div> <!--/sliderwrapper -->

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div> <!--/slider-container -->

</section> <!--/section -->
