<aside class="wr-flying-nav">
    <div class="wr-flying-nav_links d-flex flex-column">
        <a class="wr-flying-nav_links_icon" href="#">
            <svg width="36" height="36" data-toggle="tooltip" data-placement="left" title="Список сравнения">
                <use xlink:href="#search"></use>
            </svg>
        </a>
        <a class="wr-flying-nav_links_icon" href="#">
            <svg width="37" height="37" data-toggle="tooltip" data-placement="left" title="Избранное">
                <use xlink:href="#tel"></use>
            </svg>
        </a>
    </div>
    <div class="wr-flying-nav_links d-flex flex-column">
        <a class="wr-flying-nav_links_icon" href="#">
            <svg width="37" height="37" data-toggle="tooltip" data-placement="left" title="Заказать просчёт">
                <use xlink:href="#login"></use>
            </svg>
        </a>
        <a class="wr-flying-nav_links_icon" href="#">
            <svg width="37" height="37" data-toggle="tooltip" data-placement="left" title="Заказать просчёт">
                <use xlink:href="#cart"></use>
            </svg>
        </a>
        <a class="wr-flying-nav_links_icon" href="#">
            <svg width="37" height="37" data-toggle="tooltip" data-placement="left" title="Заказать просчёт">
                <use xlink:href="#favorites"></use>
            </svg>
        </a>
        <a class="wr-flying-nav_links_icon" href="#">
            <svg width="37" height="37" data-toggle="tooltip" data-placement="left" title="Заказать просчёт">
                <use xlink:href="#compare"></use>
            </svg>
        </a>
        <a class="wr-flying-nav_links_icon" href="#">
            <svg width="37" height="37" data-toggle="tooltip" data-placement="left" title="Заказать просчёт">
                <use xlink:href="#cart"></use>
            </svg>
        </a>
    </div>
    <div class="wr-flying-nav_links d-flex flex-column">
        <a class="wr-flying-nav_links_icon" href="#">
            <svg width="37" height="37" data-toggle="tooltip" data-placement="left" title="Заказать просчёт">
                <use xlink:href="#baloon"></use>
            </svg>
        </a>
    </div>
</aside>