<aside class="wr-flying-nav">
    <div class="wr-flying-nav_links d-flex flex-column">
        <a class="wr-flying-nav_links_icon" href="#" data-index="0">
            <svg width="36" height="36" data-toggle="tooltip" data-placement="left" title="Поиск">
                <use xlink:href="#search"></use>
            </svg>
        </a>
        <a class="wr-flying-nav_links_icon" href="#" data-index="1">
            <svg width="37" height="37" data-toggle="tooltip" data-placement="left" title="Заказать звонок">
                <use xlink:href="#tel"></use>
            </svg>
        </a>
    </div>
    <div class="wr-flying-nav_links d-flex flex-column">
        <a class="wr-flying-nav_links_icon" href="#">
            <svg width="37" height="37" data-toggle="tooltip" data-placement="left" title="Личный кабинет">
                <use xlink:href="#login"></use>
            </svg>
        </a>
        <a class="wr-flying-nav_links_icon" href="#">
            <svg width="37" height="37" data-toggle="tooltip" data-placement="left" title="Корзина">
                <use xlink:href="#cart"></use>
            </svg>
        </a>
        <a class="wr-flying-nav_links_icon" href="#">
            <svg width="37" height="37" data-toggle="tooltip" data-placement="left" title="Избранное">
                <use xlink:href="#favorites"></use>
            </svg>
        </a>
        <a class="wr-flying-nav_links_icon" href="#">
            <svg width="37" height="37" data-toggle="tooltip" data-placement="left" title="Сравнение">
                <use xlink:href="#compare"></use>
            </svg>
        </a>
        <a class="wr-flying-nav_links_icon" href="#">
            <svg width="37" height="37" data-toggle="tooltip" data-placement="left" title="Корзина">
                <use xlink:href="#cart"></use>
            </svg>
        </a>
    </div>
    <div class="wr-flying-nav_links d-flex flex-column">
        <a class="wr-flying-nav_links_icon" href="#">
            <svg width="37" height="37" data-toggle="tooltip" data-placement="left" title="Задать вопрос">
                <use xlink:href="#baloon"></use>
            </svg>
        </a>
    </div>
</aside>

<!--<div class="wr-icon" data-index="0">-->
    <!--<div class="wr-contacts-form wr-contacts-form_light">-->
        <!--<form class="search" name="search" method="post">-->
            <!--<input class="search__input" name="search" type="text" placeholder="Найдется все! Например, варочные панели...">-->
            <!--<button class="btn btn-primary search__btn">Найти</button>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="wr-icon" data-index="1">-->
    <!--<div class="wr-contacts-form wr-contacts-form_light">-->
        <!--<form class="form-questions" name="form-questions" method="post">-->
            <!--<div class="form-questions__title form-questions__title_light">-->
                <!--ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК-->
            <!--</div>-->
            <!--<div class="form-questions__inputs">-->
                <!--<input type="text" name="form-questions-input-name" class="form-questions__input" placeholder="Ваше имя" required>-->
            <!--</div>-->
            <!--<div class="form-questions__inputs">-->
                <!--<input type="tel" name="form-questions-input-email" class="form-questions__input" placeholder="Ваш телефон" required>-->
            <!--</div>-->
            <!--<div class="form-questions__text form-questions__text_light">-->
                <!--Заполните, пожалуйста, поля, и наши специалисты-->
                <!--перезвонят Вам в течение пяти минут-->
            <!--</div>-->
            <!--<div class="form-questions__checkbox">-->

                <!--<input type="checkbox" name="personal-data" required>&nbsp;- Я соглашаюсь на обработку персональных даных-->

            <!--</div>-->
            <!--<div class="form-questions__btn">-->
                <!--<button class="btn btn-hover_white form-questions__button" name="form-questions__button">Заказать звонок</button>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->

<div class="wr-icon wr-icon_basket" data-index="3">
   <div class="basket">
       <div class="basket__title">
           КОРЗИНА
           <!--<img src="img/icons/icon-arrow-gray.svg" alt="">-->
       </div>
       <div class="basket__product">

       </div>
       <div class="basket__product">

       </div>
       <div class="basket__buttons">
           <div class="basket__btn">

           </div>
           <div class="basket__btn">

           </div>
       </div>

   </div>
</div>