<div class="wr-form-news">
    <form class="form-news" name="form-news" method="post">

        <div class="container">
            <div class="row">

                <div class="col-12 col-lg-6">
                    <div class="sub">
                        <img class="pic" src="img/icons/icon-mail.svg">
                        <span>
                            Подпишитесь! Новинки, скидки, предложения, мероприятия!
                        </span>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="row">

                        <div class="col-12 col-lg-6 col-xl-7">
                            <input type="email" name="email" class="email" placeholder="Введите e-mail" required>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-5">
                            <button class="btn btn-hover_black form-news__btn" name="form-questions__button">Подписаться</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </form>
</div>
