<div class="wr-form-news">
    <div class="container">
        <div class="row">

            <div class="col-6">
                <div class="sub">
                    <img class="pic" src="img/icons/icon-mail.svg">
                    <span>
                        Подпишитесь! Новинки, скидки, предложения, мероприятия!
                    </span>
                </div>
            </div>

            <div class="col-6">
                <div class="row">
                    <div class="col-7">
                        <input type="email" name="email" class="email" value="Введите e-mail" required>
                    </div>
                    <div class="col-5">
                        <button class="card-item card-item_light p-0">
                                <span class="card-item_text p-0">
                                    <span class="card-item_text_inner">
                                    </span>
                                    <span class="card-item_text_link mb-0">
                                        <a class="btn" href="#">Подписаться</a>
                                    </span>
                                </span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
