<div class="container">
    <div class="row main__sections-nav__level-0">
        <div class="col-lg-3">
            <a class="main__sections-nav__card active" href="#">
                <img class="pic" src="img/icons/icon-santehnika.svg">
                <span class="label">Сантехника</span>
            </a>
        </div>
        <div class="col-lg-3">
            <a class="main__sections-nav__card" href="#">
                <img class="pic" src="img/icons/icon-tehniks-dlya-kuhni.svg">
                <span class="label">Техника для кухни</span>
            </a>
        </div>
        <div class="col-lg-3">
            <a class="main__sections-nav__card" href="#">
                <img class="pic" src="img/icons/icon-mbt-i-posuda.svg">
                <span class="label">МБТ и посуда</span>
            </a>
        </div>
        <div class="col-lg-3">
            <a class="main__sections-nav__card" href="#">
                <img class="pic" src="img/icons/icon-uhod-za-belem.svg">
                <span class="label">Уход за бельем</span>
            </a>
        </div>
    </div>

    <div class="row main__sections-nav__level-1">
        <div class="col-lg-3">
            <a class="main__sections-nav__card" href="#">
                <img class="pic" src="img/icons/icon-kuhonnye-moiky.svg">
                <span class="label">Кухонные мойки</span>
            </a>
        </div>
        <div class="col-lg-3">
            <a class="main__sections-nav__card" href="#">
                <img class="pic" src="img/icons/icon-izmelchiteli.svg">
                <span class="label">Измельчители</span>
            </a>
        </div>
        <div class="col-lg-3">
            <a class="main__sections-nav__card" href="#">
                <img class="pic" src="img/icons/icon-sortery.svg">
                <span class="label">Сортеры</span>
            </a>
        </div>
        <div class="col-lg-3">
            <a class="main__sections-nav__card" href="#">
                <img class="pic" src="img/icons/icon-aksessuary.svg">
                <span class="label">Аксессуары</span>
            </a>
        </div>
        <div class="col-lg-3">
            <a class="main__sections-nav__card" href="#">
                <img class="pic" src="img/icons/icon-dozatory.svg">
                <span class="label">Дозаторы</span>
            </a>
        </div>
        <div class="col-lg-3">
            <a class="main__sections-nav__card" href="#">
                <img class="pic" src="img/icons/icon-smesiteli.svg">
                <span class="label">Смесители</span>
            </a>
        </div>
    </div>
</div>