<div class="wr-map-contacts">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav>
                    <div class="row nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active col-4 p-0" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><span>РОСТОВ-НА-ДОНУ</span></a>
                        <a class="nav-item nav-link col-4 p-0" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><span>ВОРОНЕЖ</span></a>
                        <a class="nav-item nav-link col-4 p-0" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><span>СТАВРОПОЛЬ, ПЯТИГОРСК</span></a>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                        <div class="address">
                            <div class="address__title">
                                Красноармейская 63/90
                            </div>
                            <div class="address__text">
                                <div class="address__item">
                                    <span>РОЗНИЦА</span>:&nbsp;3-02-03-04<br>
                                    Сотовый розница: +7 (919) 888-6-777<br>
                                    td@pamira.ru<br>
                                    Время работы:<br>
                                    пн.-сб.: с 10.00 до 19.00<br>
                                    вс.: с 10.00 до 16.00
                                </div>
                                <div class="address__item">
                                    <span>ОПТОВЫЙ ОТДЕЛ</span>:&nbsp;3-02-00-22<br>
                                    Красноармейская 63/90<br>
                                    zakaz@pamira.ru<br>
                                    Время работы:<br>
                                    пн.-пт.: с 10.00 до 19.00
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                        <div class="address">
                            <div class="address__title">
                                Красноармейская 63/90
                            </div>
                            <div class="address__text">
                                <div class="address__item">
                                    <span>РОЗНИЦА</span>:&nbsp;3-02-03-04<br>
                                    Сотовый розница: +7 (919) 888-6-777<br>
                                    td@pamira.ru<br>
                                    Время работы:<br>
                                    пн.-сб.: с 10.00 до 19.00<br>
                                    вс.: с 10.00 до 16.00
                                </div>
                                <div class="address__item">
                                    <span>ОПТОВЫЙ ОТДЕЛ</span>:&nbsp;3-02-00-22<br>
                                    Красноармейская 63/90<br>
                                    zakaz@pamira.ru<br>
                                    Время работы:<br>
                                    пн.-пт.: с 10.00 до 19.00
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

                        <div class="address">
                            <div class="address__title">
                                Красноармейская 63/90
                            </div>
                            <div class="address__text">
                                <div class="address__item">
                                    <span>РОЗНИЦА</span>:&nbsp;3-02-03-04<br>
                                    Сотовый розница: +7 (919) 888-6-777<br>
                                    td@pamira.ru<br>
                                    Время работы:<br>
                                    пн.-сб.: с 10.00 до 19.00<br>
                                    вс.: с 10.00 до 16.00
                                </div>
                                <div class="address__item">
                                    <span>ОПТОВЫЙ ОТДЕЛ</span>:&nbsp;3-02-00-22<br>
                                    Красноармейская 63/90<br>
                                    zakaz@pamira.ru<br>
                                    Время работы:<br>
                                    пн.-пт.: с 10.00 до 19.00
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wr-map-top">
        <div id="map"></div>
    </div>

</div>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>