<div class="wr-tab-blocks">
    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active"
                   id="tabmenu01"
                   data-toggle="tab" role="tab"
                   href="#navtab01"
                   aria-controls="navtab01"
                   aria-selected="true">РОСТОВ-НА-ДОНУ</a>

                <a class="nav-link"
                   id="tabmenu02"
                   data-toggle="tab" role="tab"
                   href="#navtab02"
                   aria-controls="navtab02"
                   aria-selected="false">ВОРОНЕЖ</a>

                <a class="nav-link"
                   id="tabmenu03"
                   data-toggle="tab" role="tab"
                   href="#navtab03"
                   aria-controls="navtab03"
                   aria-selected="false">СТАВРОПОЛЬ, ПЯТИГОРСК</a>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="navtab01" role="tabpanel" aria-labelledby="tabmenu01">

                <div class="tab-blocks_item">
                    <h2 class="tab-blocks_item_title">Красноармейская 63/90</h2>
                    <div class="tab-blocks_item_text d-flex justify-content-start">
                        <div class="mr-5">
                            <p><span>РОЗНИЦА</span>:&nbsp;3-02-03-04</p>
                            <p>Сотовый розница: <a href="tel:7 (919) 888-6-777">+7 (919) 888-6-777</a></p>
                            <p><a href="mailto:td@pamira.ru">td@pamira.ru</a></p>
                            <p>Время работы:</p>
                            <p>пн.-сб.: с 10.00 до 19.00</p>
                            <p>вс.: с 10.00 до 16.00</p>
                        </div>
                        <div>
                            <p><span>ОПТОВЫЙ ОТДЕЛ</span>:&nbsp;3-02-00-22</p>
                            <p>Красноармейская 63/90</p>
                            <p><a href="mailto:zakaz@pamira.ru">zakaz@pamira.ru</a></p>
                            <p>Время работы:</p>
                            <p>пн.-пт.: с 10.00 до 19.00</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="navtab02" role="tabpanel" aria-labelledby="tabmenu02">

                <div class="tab-blocks_item">
                    <h2 class="tab-blocks_item_title">Красноармейская 63/90</h2>
                    <div class="tab-blocks_item_text d-flex justify-content-start">
                        <div class="mr-5">
                            <p><span>РОЗНИЦА</span>:&nbsp;3-02-03-04</p>
                            <p>Сотовый розница: <a href="tel:7 (919) 888-6-777">+7 (919) 888-6-777</a></p>
                            <p><a href="mailto:td@pamira.ru">td@pamira.ru</a></p>
                            <p>Время работы:</p>
                            <p>пн.-сб.: с 10.00 до 19.00</p>
                            <p>вс.: с 10.00 до 16.00</p>
                        </div>
                        <div>
                            <p><span>ОПТОВЫЙ ОТДЕЛ</span>:&nbsp;3-02-00-22</p>
                            <p>Красноармейская 63/90</p>
                            <p><a href="mailto:zakaz@pamira.ru">zakaz@pamira.ru</a></p>
                            <p>Время работы:</p>
                            <p>пн.-пт.: с 10.00 до 19.00</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="navtab03" role="tabpanel" aria-labelledby="tabmenu03">

                <div class="tab-blocks_item">
                    <h2 class="tab-blocks_item_title">Красноармейская 63/90</h2>
                    <div class="tab-blocks_item_text d-flex justify-content-start">
                        <div class="mr-5">
                            <p><span>РОЗНИЦА</span>:&nbsp;3-02-03-04</p>
                            <p>Сотовый розница: <a href="tel:7 (919) 888-6-777">+7 (919) 888-6-777</a></p>
                            <p><a href="mailto:td@pamira.ru">td@pamira.ru</a></p>
                            <p>Время работы:</p>
                            <p>пн.-сб.: с 10.00 до 19.00</p>
                            <p>вс.: с 10.00 до 16.00</p>
                        </div>
                        <div>
                            <p><span>ОПТОВЫЙ ОТДЕЛ</span>:&nbsp;3-02-00-22</p>
                            <p>Красноармейская 63/90</p>
                            <p><a href="mailto:zakaz@pamira.ru">zakaz@pamira.ru</a></p>
                            <p>Время работы:</p>
                            <p>пн.-пт.: с 10.00 до 19.00</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="wr-map">
    <div id="map"></div>
</div>

</div>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>