<div class="wr-map">
    <div id="map"><script type="text/javascript" charset="utf-8" async
                          src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8d0bf9042757af4e24609b22b519dba3943e769c9a6998375fa26ef5c55b1016&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="map__menu">
        <h5 class="map__title">График работы:</h5>

        <p class="map__text">пн-сб: с 10:00 до 19:00,<br>вс: с 10:00 до 17:00</p>

        <h5 class="map__title">Адрес:</h5>

        <p class="map__text">г.Ростов-на-Дону,<br>ул.Красноармейска д.103/123</p>

        <p class="map__text">Телефон: <a class="map__tel" href="tel:+7(863) 299-44-53" style=" color: #FFFFFF;"> +7 (863) 299-44-53</a></p>
    </div>
</div>