<div class="toggle-nav modal fade" id="toggleNav" tabindex="-1" role="dialog" aria-labelledby="toggleNav"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered container" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-5 p-0">
                        <div class="nav toggle-nav_pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            <a class="toggle-nav_pills_link active" id="v-pills-catalog-tab" data-toggle="pill"
                               href="#v-pills-catalog" role="tab" aria-controls="v-pills-catalog" aria-selected="true">Каталог</a>
                            <a class="toggle-nav_pills_link" id="v-pills-events-tab" data-toggle="pill"
                               href="#v-pills-events" role="tab" aria-controls="v-pills-events" aria-selected="true">Мероприятия</a>
                            <a class="toggle-nav_pills_link" id="v-pills-buyers-tab" data-toggle="pill"
                               href="#v-pills-buyers"
                               role="tab" aria-controls="v-pills-buyers" aria-selected="false">Покупателю</a>
                            <a class="toggle-nav_pills_link" id="v-pills-brands-tab" data-toggle="pill"
                               href="#v-pills-brands"
                               role="tab" aria-controls="v-pills-brands" aria-selected="false">Бренды</a>
                            <a class="toggle-nav_pills_link" id="v-pills-about-tab" data-toggle="pill"
                               href="#v-pills-about"
                               role="tab" aria-controls="v-pills-about" aria-selected="false">О компании</a>
                            <a class="toggle-nav_pills_link" id="v-pills-contacts-tab" data-toggle="pill"
                               href="#v-pills-contacts"
                               role="tab" aria-controls="v-pills-contacts" aria-selected="false">Контакты</a>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-catalog" role="tabpanel"
                                 aria-labelledby="v-pills-catalog-tab">
                                <div class="row">
                                    <div class="col-5 p-4 toggle-nav_col">
                                        <h4>
                                            <a href="#" class="d-flex flex-column align-items-center">
                                                <span>Уход за бельем</span>
                                                <svg width="41" height="50" data-toggle="tooltip" data-placement="left"
                                                     title="Уход за бельем">
                                                    <use xlink:href="#uhod_za_belem"></use>
                                                </svg>
                                            </a>
                                        </h4>
                                        <div class="d-flex flex-column mx-4">
                                            <a href="#">Стиральные машины</a>
                                            <a href="#">Сушильные машины</a>
                                            <a href="#">Сушильные шкафы</a>
                                            <a href="#">Аксессуары</a>
                                        </div>
                                    </div>
                                    <div class="col-7 p-4 toggle-nav_col d-flex align-items-center justify-content-around">
                                        <h4>
                                            <a href="#" class="d-flex flex-column align-items-center">
                                                <span>Техника для кухни</span>
                                                <svg width="41" height="50" data-toggle="tooltip" data-placement="left"
                                                     title="Техника для кухни">
                                                    <use xlink:href="#kitchen_tehnic"></use>
                                                </svg>
                                            </a>
                                        </h4>
                                        <div class="d-flex flex-column">
                                            <a href="#">Духовые шкафы</a>
                                            <a href="#">Кухонные блоки</a>
                                            <a href="#">Холодильники</a>
                                            <a href="#">Варочные поверхности</a>
                                            <a href="#">Микроволновые печи</a>
                                            <a href="#">Вытяжки</a>
                                            <a href="#">Компактные приборы</a>
                                            <a href="#">Посудомоечные машины</a>
                                        </div>
                                    </div>
                                    <div class="col-9 p-4 toggle-nav_col d-flex align-items-center justify-content-around">
                                        <h4>
                                            <a href="#" class="d-flex flex-column align-items-center">
                                                <span>Сантехника</span>
                                                <svg width="41" height="50" data-toggle="tooltip" data-placement="left"
                                                     title="Сантехника">
                                                    <use xlink:href="#santehnika"></use>
                                                </svg>
                                            </a>
                                        </h4>
                                        <div class="d-flex flex-column">
                                            <a href="#">Кухонные мойки</a>
                                            <a href="#">Аксессуары</a>
                                            <a href="#">Измельчители</a>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <a href="#">Сортер</a>
                                            <a href="#">Смесители</a>
                                            <a href="#">Дозаторы</a>
                                        </div>
                                    </div>
                                    <div class="col-3 p-4 toggle-nav_col">
                                        <h4>
                                            <a href="#" class="d-flex flex-column align-items-center">
                                                <span>МБТ и посуда</span>
                                                <svg width="41" height="50" data-toggle="tooltip" data-placement="left"
                                                     title="МБТ и посуда">
                                                    <use xlink:href="#mbt_i_posuda"></use>
                                                </svg>
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-events" role="tabpanel"
                                 aria-labelledby="v-pills-events-tab">
                                <div class="row">
                                    <div class="col-5 p-4 toggle-nav_col">
                                        <div class="pills-item">
                                            <div class="pills-item_text">
                                                <a href="#"><h4>Название мероприятия</h4></a>
                                                <p>дата</p>
                                                <p>описание</p>
                                            </div>
                                            <a href="#"><img src="img/menu/menu-event1.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-7 p-4 toggle-nav_col">
                                        <div class="pills-item">
                                            <div class="pills-item_text">
                                                <a href="#"><h4>Название мероприятия</h4></a>
                                                <p>дата</p>
                                                <p>описание</p>
                                            </div>
                                            <div class="d-flex">
                                                <a href="#"><img src="img/menu/menu-event2.jpg" alt=""></a>
                                                <a href="#"><img src="img/menu/menu-event3.jpg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-9 p-3 toggle-nav_col">
                                        <div class="pills-item">
                                            <div class="d-flex">
                                                <a href="#"><img src="img/menu/menu-event2.jpg" alt=""></a>
                                                <div class="pills-item_text pl-5">
                                                    <a href="#"><h4>Название мероприятия</h4></a>
                                                    <p>дата</p>
                                                    <p>описание</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 toggle-nav_col p-3 toggle-nav_col">
                                        <div class="pills-item">
                                            <a class="more-btn_down" href="#">
                                                <span>Смотреть все</span>
                                                <svg width="30" height="42">
                                                    <use xlink:href="#icon-arrow"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-buyers" role="tabpanel"
                                 aria-labelledby="v-pills-buyers-tab">
                                <div class="row">
                                    <div class="col-5 p-5 toggle-nav_col">
                                        <div class="pills-item">
                                            <div class="pills-item_text">
                                                <a href="#"><h4>Доставка и оплата</h4></a>
                                            </div>
                                            <a href="#"><img src="img/menu/menu-buyers1.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-7 p-5 toggle-nav_col">
                                        <div class="pills-item">
                                            <div class="pills-item_text">
                                                <a href="#"><h4>Установка и гарантии</h4></a>
                                            </div>
                                            <div class="d-flex">
                                                <a href="#"><img src="img/menu/menu-buyers2.jpg" alt=""></a>
                                                <a href="#"><img src="img/menu/menu-buyers3.jpg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-9 p-3 toggle-nav_col">
                                        <div class="pills-item">
                                            <div class="d-flex">
                                                <a href="#"><img src="img/menu/menu-buyers4.jpg" alt=""></a>
                                                <div class="pills-item_text pl-4">
                                                    <a href="#"><h4>Помощь в выборе и часто задаваемые вопросы</h4></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 p-3 toggle-nav_col toggle-nav_col">
                                        <div class="pills-item">
                                            <a class="more-btn_down" href="#">
                                                <span>Смотреть все</span>
                                                <svg width="30" height="42">
                                                    <use xlink:href="#icon-arrow"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-brands" role="tabpanel"
                                 aria-labelledby="v-pills-brands-tab">...
                            </div>
                            <div class="tab-pane fade" id="v-pills-about" role="tabpanel"
                                 aria-labelledby="v-pills-about-tab">
                                <div class="row">
                                    <div class="col-5 p-5 toggle-nav_col">
                                        <div class="pills-item">
                                            <div class="pills-item_text">
                                                <p class="pb-3">На сегодняшний день компания «ПАМИРА» имеет в
                                                    своих магазинах
                                                    самую большую и современную экспозицию встраиваемой техники
                                                    в
                                                    Ростове-на-Дону и Воронеже.</p>
                                                <a href="" class="more-btn">
                                                    <span>Подробнее</span>
                                                    <svg width="10" height="15">
                                                        <use xlink:href="#icon-arrow"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                            <a href="#"><img src="img/menu/menu-about1.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-7 p-5 toggle-nav_col">
                                        <div class="pills-item">
                                            <div class="pills-item_text">
                                                <p class="pb-3">Компания «ПАМИРА» основана в 1998 году и на
                                                    сегодняшний день
                                                    является одной из ведущих компаний на рынке бытовой и
                                                    встраиваемой техники Ростова-на-Дону, Ставропольского края и
                                                    Воронежа.</p>
                                                <a href="" class="more-btn">
                                                    <span>Подробнее</span>
                                                    <svg width="10" height="15">
                                                        <use xlink:href="#icon-arrow"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                            <div class="d-flex">
                                                <a href="#"><img src="img/menu/menu-about2.jpg" alt=""></a>
                                                <a href="#"><img src="img/menu/menu-about3.jpg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-9 p-3 toggle-nav_col">
                                        <div class="pills-item">
                                            <div class="d-flex">
                                                <a href="#"><img src="img/menu/menu-about4.jpg" alt=""></a>
                                                <div class="pills-item_text pl-4">
                                                    <p class="pb-3">Мы являемся официальными партнерами таких
                                                        ведущих брендов как:
                                                        ELECTROLUX, AEG, GORENJE, ZANUSSI, WHIRLPOOL, FRANKE, FABER,
                                                        SMEG, ASKO, MIDEA, FALMEC, LIEBHERR, KUPPERSBUSCH, FULGOR,
                                                        KITCHEN AID.</p>
                                                    <a href="" class="more-btn">
                                                        <span>Подробнее</span>
                                                        <svg width="10" height="15">
                                                            <use xlink:href="#icon-arrow"></use>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 p-3 toggle-nav_col toggle-nav_col">
                                        <div class="pills-item">
                                            <a class="more-btn_down" href="#">
                                                <span>Смотреть все</span>
                                                <svg width="30" height="42">
                                                    <use xlink:href="#icon-arrow"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-contacts" role="tabpanel"
                                 aria-labelledby="v-pills-contacts-tab">
                                <div class="row">
                                    <div class="col-5 p-5 toggle-nav_col">
                                        <div class="pills-item">
                                            <a href="#">
                                                <div class="pills-item_text">
                                                    <h4>Ростов-на-Дону</h4>
                                                </div>
                                                <img src="img/menu/menu-buyers1.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-7 p-5 toggle-nav_col">
                                        <div class="pills-item">
                                            <a href="#">
                                                <div class="pills-item_text">
                                                    <h4>Воронеж</h4>
                                                </div>
                                                <div class="d-flex">
                                                    <img src="img/menu/menu-buyers2.jpg" alt="">
                                                    <img src="img/menu/menu-buyers3.jpg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-9 p-3 toggle-nav_col">
                                        <div class="pills-item">
                                            <a href="#" class="d-flex">
                                                <img src="img/menu/menu-buyers4.jpg" alt="">
                                                <div class="pills-item_text pl-4">
                                                    <h4>Ставрополь, Пятигорск</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-3 toggle-nav_col p-3 toggle-nav_col">
                                        <div class="pills-item">
                                            <a class="more-btn_down" href="#">
                                                <span>Смотреть все</span>
                                                <svg width="30" height="42">
                                                    <use xlink:href="#icon-arrow"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>