<section id="slider-text-02" class="wr-slider-text">
    <div class="slider-text_bg" style="background-image:url(../img/slides/kot-2466------.jpg);">
        <!-- Slider main container -->
        <div class="container">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <h3>Встраиваемый комбинированный холодильник.</h3>
                            <p>На протяжении многих лет Smeg придерживается политики постоянного развития показателей,
                                обеспечивающих максимальную заботу об окружающей среде.</p>
                        </div>
                        <div class="swiper-slide">
                            <h3>Встраиваемый комбинированный холодильник.</h3>
                            <p>На протяжении многих лет Smeg придерживается политики постоянного развития показателей,
                                обеспечивающих максимальную заботу об окружающей среде.</p>
                        </div>
                        <div class="swiper-slide">
                            <h3>Встраиваемый комбинированный холодильник.</h3>
                            <p>На протяжении многих лет Smeg придерживается политики постоянного развития показателей,
                                обеспечивающих максимальную заботу об окружающей среде.</p>
                        </div>
                    </div>
                    <div class="slider-text_pagination">
                        <div class="swiper-pagination"></div>

                        <div class="swiper-button-prev">
                        </div>
                        <div class="swiper-button-next">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>

