<div class="wr-top-photo wr-top-photo_single">

</div>
<div class="wr-tab-blocks">
    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active"
                   id="tabmenu01"
                   data-toggle="tab" role="tab"
                   href="#navtab01"
                   aria-controls="navtab01"
                   aria-selected="true">ПРЕИМУЩЕСТВА</a>

                <a class="nav-link"
                   id="tabmenu02"
                   data-toggle="tab" role="tab"
                   href="#navtab02"
                   aria-controls="navtab02"
                   aria-selected="false">ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</a>

                <a class="nav-link"
                   id="tabmenu03"
                   data-toggle="tab" role="tab"
                   href="#navtab03"
                   aria-controls="navtab03"
                   aria-selected="false">АКСЕССУАРЫ</a>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="navtab01" role="tabpanel" aria-labelledby="tabmenu01">

                <div class="tab-blocks_item">
                    <div class="tab-blocks_item_text">
                        <div class="d-flex flex-wrap justify-content-around">
                            <div class="tab-blocks_item_text_icons">
                                <img src="img/icons/icon-delivery.png" alt="">
                                <p>Лидогенератор</p>
                            </div>
                            <div class="tab-blocks_item_text_icons">
                                <img src="img/icons/icon-map-marker.png" alt="">
                                <p>Навеска индивидуальной фасадной двери.</p>
                            </div>
                            <div class="tab-blocks_item_text_icons">
                                <img src="img/icons/icon-credit-card.png" alt="">
                                <p>Freshbox - для фруктов и овощей.</p>
                            </div>
                        </div>
                        <p>Доставка бытовой и встраиваемой техники в пределах Ростова-на-Дону, Воронежа, Пятигорска,
                            Ставрополя осуществляется до подъезда покупателя бесплатно. Доставка товара за пределы
                            города осуществляется за счет покупателя нашим транспортом, согласно заранее оговоренному
                            тарифу.</p>
                        <p>Подъем до квартиры крупногабаритной техники осуществляется за дополнительную плату, также
                            согласно заранее оговоренному тарифу.</p>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="navtab02" role="tabpanel" aria-labelledby="tabmenu02">

                <div class="tab-blocks_item">
                    <div class="tab-blocks_item_text">
                        <div class="d-flex flex-wrap justify-content-around">
                            <div class="tab-blocks_item_text_icons">
                                <img src="img/icons/icon-delivery.png" alt="">
                                <p>Лидогенератор</p>
                            </div>
                            <div class="tab-blocks_item_text_icons">
                                <img src="img/icons/icon-map-marker.png" alt="">
                                <p>Навеска индивидуальной фасадной двери.</p>
                            </div>
                            <div class="tab-blocks_item_text_icons">
                                <img src="img/icons/icon-credit-card.png" alt="">
                                <p>Freshbox - для фруктов и овощей.</p>
                            </div>
                        </div>
                        <p>Доставка бытовой и встраиваемой техники в пределах Ростова-на-Дону, Воронежа, Пятигорска,
                            Ставрополя осуществляется до подъезда покупателя бесплатно. Доставка товара за пределы
                            города осуществляется за счет покупателя нашим транспортом, согласно заранее оговоренному
                            тарифу.</p>
                        <p>Подъем до квартиры крупногабаритной техники осуществляется за дополнительную плату, также
                            согласно заранее оговоренному тарифу.</p>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="navtab03" role="tabpanel" aria-labelledby="tabmenu03">

                <div class="tab-blocks_item">
                    <div class="tab-blocks_item_text">
                        <div class="text-center mb-5">
                            <h2 class="mb-5">ЗАГОЛОВОК</h2>
                            <p>Мы устраиваем чудесные мастер-классы, на которых вы можете попробовать себя в новом стиле
                                готовки, а также на нашей активной кухне! Благодаря акциям и распродажам можно позволить
                                себе больше, чем когда-либо хотелось!</p>
                        </div>

                        <div class="row">
                            <div class="col-12 mb-5">
                                <div class="card-item card-item_light card-item_transp">
                                    <div class="card-item_img">
                                        <img src="img/single-items/62ca9504fe8fad74173e2d5af573a80d.jpg" alt="">
                                    </div>
                                    <div class="card-item_text">
                                        <div class="card-item_text_inner">
                                            <h2>Заголовок</h2>
                                            <p>Покупатель обязан принять технику в течение 10-ти дней с момента
                                                извещения
                                                покупателя о наличии товара на складе Продавца.</p>
                                            <p>Установку и подключение техники, а также консультации по ее
                                                эксплуатации
                                                сотрудники службы доставки не производят.</p>
                                            <p>При получении техники покупатель должен внимательно осмотреть ее
                                                внешний
                                                вид, проверить наличие гарантийных талонов, инструкций по
                                                эксплуатации на
                                                русском языке и расписаться в накладной.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mb-5">
                                <div class="card-item card-item_light card-item_transp card-item_transp_right">
                                    <div class="card-item_img">
                                        <img src="img/single-items/shutterstock_171790418.jpg" alt="">
                                    </div>
                                    <div class="card-item_text">
                                        <div class="card-item_text_inner">
                                            <h2>Заголовок</h2>
                                            <p>Если покупателя в момент доставки, указанном им, не оказалось дома,
                                                то
                                                экспедиторы ожидают 15 минут, оставив уведомление о доставке.
                                                Повторная
                                                бесплатная доставка не осуществляется.</p>
                                            <p>В случае возникновения вопросов при получении техники, просьба
                                                обращаться к
                                                менеджеру, либо администратору салона, где была приобретена техника.
                                                После
                                                принятия техники претензии по ее внешнему виду не принимаются.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 mb-5 p-0">
                                <div class="card-item card-item_full">
                                    <div class="card-item_img">
                                        <img src="img/single-items/smeg-pv164n-hob-60-cm-black-glass-floor.jpg"
                                             alt="">
                                    </div>
                                    <div class="card-item_text">
                                        <div class="card-item_text_inner">
                                            <h2>Часто задаваемые вопросы</h2>
                                        </div>
                                        <div class="card-item_text_link">
                                            <a class="btn" href="#">Читать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-12 pl-0 mb-4">
                                <div class="card-item">
                                    <div class="card-item_text">
                                        <h2>SOFT TOUCH</h2>
                                        <p>Имеются различные размеры варочных поверхностей, от маленьких Домино
                                            (30см в ширину и регулируемый) до 60, 70, 90 и даже 116см моделей.</p>
                                    </div>
                                    <div class="card-item_img">
                                        <div class="card-item_img_link">
                                            <a class="btn more-btn" href="#">
                                                <span>Читать подробнее</span>
                                                <svg width="10" height="15">
                                                    <use xlink:href="#icon-arrow"></use>
                                                </svg>
                                            </a>
                                        </div>
                                        <img src="img/single-items/smeg-kochfeld-0.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 pr-0 mb-4">
                                <div class="card-item">
                                    <div class="card-item_text">
                                        <h2>ОБРАБОТКА ПРОТИВ ОТПЕЧАТКОВ ПАЛЬЦЕВ</h2>
                                        <p>Могут быть установлены различными способами: стандартная, вровень со
                                            столешницей, низкий монтаж и ультра низкий монтаж.
                                        </p>
                                    </div>
                                    <div class="card-item_img">
                                        <div class="card-item_img_link">
                                            <a class="btn more-btn" href="#">
                                                <span>Читать подробнее</span>
                                                <svg width="10" height="15">
                                                    <use xlink:href="#icon-arrow"></use>
                                                </svg>
                                            </a>
                                        </div>
                                        <img src="img/single-items/final-5.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                </div>


            </div>
        </div>
    </div>
</div>