<div class="wr-top-photo wr-top-photo_single">

</div>
<div class="wr-tab-blocks">
    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active"
                   id="tabmenu01"
                   data-toggle="tab" role="tab"
                   href="#navtab01"
                   aria-controls="navtab01"
                   aria-selected="true">ПРЕИМУЩЕСТВА</a>

                <a class="nav-link"
                   id="tabmenu02"
                   data-toggle="tab" role="tab"
                   href="#navtab02"
                   aria-controls="navtab02"
                   aria-selected="false">ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</a>

                <a class="nav-link"
                   id="tabmenu03"
                   data-toggle="tab" role="tab"
                   href="#navtab03"
                   aria-controls="navtab03"
                   aria-selected="false">АКСЕССУАРЫ</a>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="navtab01" role="tabpanel" aria-labelledby="tabmenu01">

                <div class="tab-blocks_item">
                    <div class="tab-blocks_item_text">
                        <div class="d-flex justify-content-around">
                            <div>
                                <p>Лидогенератор</p>
                            </div>
                            <div>
                                <p>Навеска индивидуальной фасадной двери.</p>
                            </div>
                            <div>
                                <p>Freshbox - для фруктов и овощей.</p>
                            </div>
                        </div>
                        <p>Доставка бытовой и встраиваемой техники в пределах Ростова-на-Дону, Воронежа, Пятигорска,
                            Ставрополя
                            осуществляется до подъезда покупателя бесплатно
                            Доставка товара за пределы города осуществляется за счет покупателя нашим транспортом,
                            согласно заранее
                            оговоренному тарифу.</p>
                        <p>Подъем до квартиры крупногабаритной техники осуществляется за дополнительную плату, также
                            согласно заранее
                            оговоренному тарифу.</p>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="navtab02" role="tabpanel" aria-labelledby="tabmenu02">

                <div class="tab-blocks_item">
                    <div class="tab-blocks_item_text">
                        <div class="d-flex justify-content-around">
                            <div>
                                <p>Лидогенератор</p>
                            </div>
                            <div>
                                <p>Навеска индивидуальной фасадной двери.</p>
                            </div>
                            <div>
                                <p>Freshbox - для фруктов и овощей.</p>
                            </div>
                        </div>
                        <p>Доставка бытовой и встраиваемой техники в пределах Ростова-на-Дону, Воронежа, Пятигорска,
                            Ставрополя
                            осуществляется до подъезда покупателя бесплатно
                            Доставка товара за пределы города осуществляется за счет покупателя нашим транспортом,
                            согласно заранее
                            оговоренному тарифу.</p>
                        <p>Подъем до квартиры крупногабаритной техники осуществляется за дополнительную плату, также
                            согласно заранее
                            оговоренному тарифу.</p>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="navtab03" role="tabpanel" aria-labelledby="tabmenu03">

                <div class="tab-blocks_item">
                    <div class="tab-blocks_item_text">
                        <div class="d-flex justify-content-around">
                            <div>
                                <p>Лидогенератор</p>
                            </div>
                            <div>
                                <p>Навеска индивидуальной фасадной двери.</p>
                            </div>
                            <div>
                                <p>Freshbox - для фруктов и овощей.</p>
                            </div>
                        </div>
                        <p>Доставка бытовой и встраиваемой техники в пределах Ростова-на-Дону, Воронежа, Пятигорска,
                            Ставрополя
                            осуществляется до подъезда покупателя бесплатно
                            Доставка товара за пределы города осуществляется за счет покупателя нашим транспортом,
                            согласно заранее
                            оговоренному тарифу.</p>
                        <p>Подъем до квартиры крупногабаритной техники осуществляется за дополнительную плату, также
                            согласно заранее
                            оговоренному тарифу.</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>