
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="main__promo_heading">
                <div class="main__promo_heading_title">АКТИВНАЯ КУХНЯ</div>
                <p class="main__promo_heading_desc">
                    озяйка может почувствовать себя на своей кухне, понять что нужно, а что нет.
                    На активной кухне подключены все существующие кухонные приборы.
                    Приходите и пробуйте!
                </p>
            </div>
        </div>
    </div>
</div>

<section class="wr-slider-narrow">
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide" ><img src="img/slides/slide-1.jpg"></div>
            <div class="swiper-slide" ><img src="img/slides/slide-2.jpg"></div>
            <div class="swiper-slide" ><img src="img/slides/slide-1.jpg"></div>
            <div class="swiper-slide" ><img src="img/slides/slide-1.jpg"></div>
            <div class="swiper-slide" ><img src="img/slides/slide-2.jpg"></div>
            <div class="swiper-slide" ><img src="img/slides/slide-1.jpg"></div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>

</section>

