.bx-soa-item-tr {
  background-color: $color_white;
  color: $color_gray_light;
  padding: 25px 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .bx-soa-item-td {
    margin-right: 30px;
    flex: 1;

    .bx-soa-item-block {
      display: flex;
      align-items: center;

      .bx-soa-item-imgcontainer {
        display: block;
        width: 150px;
        height: 150px;
        margin-right: 30px;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: contain;
        background-size: contain;
      }
    }

    .bx-price, .bx-price all {
      font-weight: normal;
    }
    .bx-soa-item-td-text {
      text-align: center;
    }
  }
  .tooltip.top {
    top: 0;
    right: 0;
  }
}

.bx_soa_block {
  padding: 40px 30px;
  background-color: $color_gray_middle;
  color: $color_white;
  margin-bottom: 30px;
  font-size: 14px;

  .bx-soa-custom-label {
    font-weight: normal;
    margin-bottom: 20px;
  }
  .form-control,
  .bx-sls .bx-ui-sls-fake,
  .bx-sls .bx-ui-sls-route,
  .bx-sls .bx-ui-sls-container {
    height: 50px;
    min-height: 50px;
    padding: 0 15px;
  }
  .bx-sls .dropdown-icon {
    height: 30px;
  }
  .bx-soa-pp-company {
    .bx-soa-pp-company-subTitle {
      margin-bottom: 20px;
      font-size: 22px;
      text-transform: uppercase;
    }
    .bx-soa-pp-company-block {
      margin-bottom: 20px;
    }
  }
}