.card-item {
  overflow: hidden;
  background-color: $color_gray_darkest;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  @include mobile-all() {
    position: relative;
  }

  .btn:focus {
    box-shadow: none;
  }


  &_text {
    color: $color_white;
    padding: 45px 50px 20px;
    height: 100%;
    @include mobile-all() {
      padding: 20px 30px;
    }

    &_inner {
      margin-bottom: 40px;
    }

    h2 {
      padding: 0;
      margin-bottom: 30px;
      font-size: 23px;
      font-weight: normal;
    }

    p {
      margin: 0;
      font-size: 14px;

    }

    &_link {
      margin-bottom: 40px;
      display: inline-block;
    }
  }

  &_img{
    height: 100%;
    position: relative;

    img {
      height: 100%;
      max-height: 415px;
      width: 100%;
      object-fit: cover;
    }

    &_link{
      background-color: $color_gray_opacity60;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      .btn {
        background-color: $color_gray_opacity60;
        padding: 40px 50px;
        width: 100%;
        text-align: left;
      }
    }

  }

  &_full {

    @include mobile-all() {
      .card-item_img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .card-item_text {
      width: 380px;
      background-color: $color_gray_opacity60;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 45px 50px 20px;

      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;

      @include mobile-all() {
        text-align: center;
        padding: 20px 30px;
        width: 100%;
        position: relative;

        .card-item_text_link {
          margin-bottom: 0;
        }
      }

      &:hover {
        width: 400px;
        padding: 45px 70px 20px 50px;
        background-color: $color_red_middle;

        @include mobile-all() {
          width: 100%;
          padding: 20px 30px;
        }

        .card-item_text_link .btn {
          background-color: $color_gray_darkest;
        }
      }
    }

    &_right {
      .card-item_text {
        right: 0;
        left: auto;

        @include mobile-all() {
          text-align: center;
        }

        &:hover {

          padding: 45px 50px 20px 70px;
        }
      }
    }
    &_half {
      .card-item_text {
        width: 520px;
        padding: 70px 60px;
        text-align: center;
        @include mobile-all() {
          width: 100%;
        }

        &:hover {
          width: 540px;
          padding: 70px 60px 70px 80px;
        }
        .card-item_text_inner {
          max-width: 380px;

          @include mobile-all() {
            width: 100%;
          }
        }
      }
    }

  }

  &_light {
    background-color: $color_white;

    .card-item_text {
      background-color: $color_white;
      color: $color_gray_middle;
    }
    &.card-item_full .card-item_text:hover {
      color: $color_white;
    }
  }

  &_transp {
    position: relative;
    .card-item_img {

      img {
        object-fit: cover;
        width: 65%;

        @include mobile-all() {
          width: 100%;
        }
      }
    }

    .card-item_text {
      background-color: $color_white_dirty_opacity80;
      width: 65%;
      position: absolute;
      top: 50%;
      right: 0;
      height: auto;
      transform: translateY(-50%);
      padding: 45px 80px;

      @include mobile-all() {
        width: 100%;
        position: relative;
        top: 0;
        transform: translateY(0);
        padding: 20px 30px;
      }

      p {
        margin-bottom: 1rem;
      }
    }

    &_right {
      .card-item_img {
        text-align: right;
      }
      .card-item_text {
        left: 0;
        right: auto;
      }

    }
  }

  &_collapse {
    padding: 70px 50px 150px;

    &_text {
      margin: 0 200px 50px 0;
    }
    &_img {
      position: relative;

      img,
      video {
        max-width: 100%;
      }

      &_promo {
        position: absolute;
        bottom: -100px;
        right: 40px;
        width: 450px;
        padding: 20px 40px;
        background-color: $color_gray_darkest_opacity_60;
      }
    }

    &_dark {
      color: $color_white;
    }
  }

  &_half {
    .card-item_text {
      height: 50%;
    }
    .card-item_img {
      height: 50%;
    }
  }
}