.top-slider.catalog-slider {
  .swiper-slide {
    img {
      width: 100%;
      height: 440px;
      object-fit: cover;

      @include descktopxxl() {
        height: 600px;
      }

      @include mobile-all() {
        height: 300px;
      }
    }
  }
}

.catalog-brand-slider {
  padding: 0 50px;
  position: relative;
  height: 170px;
  margin-bottom: 60px;
  .swiper-container {
    height: 100%;
  }

  .slide-brand-card {
    background-color: $color_white;
    color: $color_gray_light;
    text-align: center;
    padding: 30px 15px 17px;
    margin: 0 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      margin-bottom: 15px;
    }
    p {
      font-size: #{$font_size_xxs}px;
      margin-bottom: 0;
    }
    &_more {
      display: block;
      color: $color_red_middle;
      transform: rotate(90deg);
      margin-top: 15px;

      svg {
        width: 13px;
        height: 20px;
      }
    }
  }

  .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='9035 9343 12.359 19.046'><path d='M9.523,12.359,0,2.837,2.837,0,9.523,6.686,16.209,0l2.837,2.837Z' fill='%23F0F0F0' transform='translate(9047.359 9343) rotate(90)'/></svg>");
    left: 0;
    right: auto;
    width: 16px;
    height: 29px;
    background-size: contain;
  }
  .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='9035 9343 12.359 19.046'><path d='M9.523,12.359,0,2.837,2.837,0,9.523,6.686,16.209,0l2.837,2.837Z' fill='%23F0F0F0' transform='translate(9047.359 9343) rotate(90)'/></svg>");
    left: auto;
    right: 0;
    width: 16px;
    height: 29px;
    background-size: contain;
    transform: rotate(180deg);
  }
}