.wr-side {
  max-width: 250px;
  margin: 0 auto;
  .side-menu {
    margin-bottom: 50px;

    &_item {
      .h3,
      .h3 a {
        font-weight: normal;
        padding: 0;
        cursor: pointer;
        color: $color_white_dirty;
      }
      a {
        border-bottom: 1px solid transparent;
      }
      a:hover,
      a.active {
        color: $color_white_dirty;
        text-decoration: none;
        border-bottom: 1px solid $color_white_dirty;
      }

      &_list {

        ul {
          padding: 0;
          margin: 30px 0 40px;
          li {
            list-style: none;
            a {
              color: $color_gray_light;
              line-height: 1.75;
            }
          }
        }
      }
    }
  }
  .side-banner {
    &_item {
      margin-bottom: 20px;
    }
  }
}

.catalog-plitka {
  .catalog-item {
    background-color: $color_white;
    color: $color_gray_light;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &_img {
      width: 100%;
      height: 330px;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        display: block;
        padding: 35px 30px;
        height: 100%;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
    &_text {
      padding: 0 30px;
      a {
        height: 3rem;
        overflow: hidden;
      }
    }
    &_cost {
      margin: 25px 0 20px;
      color: $color_red_middle;
      font-size: #{$font_size_h4}px;
    }
    &_links {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0 5px;
      @include descktopxxl() {
        padding: 0 30px 50px;
      }
      &_icon {
        background-color: $color_gray_darkest;
        padding: 15px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 3px;
        @include transition();

        @include descktopxxl() {
          padding: 15px;
        }

        &:hover,
        &.checked {
          background-color: $color_red_middle;
          color: $color_white;
        }
        svg {
          max-height: 26px;
          max-width: 26px;
        }
      }
    }
  }
}

.catalog-list {
  .catalog-item {
    background-color: $color_white;
    color: $color_gray_light;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &_img {
      width: 30%;
      text-align: center;
      a {
        display: block;
        padding: 30px;
        height: 100%;
        width: 100%;
        img {
          max-width: 100%;
        }
      }
    }
    &_text {
      width: 45%;
      padding: 30px;

      a {
        color: $color_gray_middle;
        display: block;
        margin-bottom: 20px;
      }
      p {
        font-size: #{$font_size_xxs}px;
        color: $color_gray_light;
        line-height: 2;
      }
    }
    &_links {
      width: 35%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 30px;

      .catalog-item_cost {
        margin-bottom: 15px;
        display: block;
        color: $color_red_middle;
        font-size: #{$font_size_h4}px;

      }

      &_props {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        p {
          font-size: #{$font_size_xxs}px;
          color: $color_gray_darkest;
          margin: 0 15px;
        }

        &_links {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex: 2;
        }
        &_text {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex: 3;
        }

        &_more {
          display: flex;
          align-items: center;
          width: 100%;
          font-size: #{$font_size_xxs}px;
          color: $color_gray_ligten;
          cursor: pointer;

          &:after {
            content: "";
            background-image: url(/img/icons/icon-arrow.svg);
            display: block;
            width: 12px;
            height: 20px;
            color: $color_gray_ligten;
            transform: rotate(90deg);
            -webkit-background-size: 20px;
            background-size: cover;
            background-repeat: no-repeat;
            margin-left: 20px;
            margin-top: 0;
          }
          &:hover {
            color: $color_gray_light;
          }
        }
      }

      &_icon {
        background-color: $color_gray_darkest;
        padding: 10px 15px;
        margin: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color_white;
        @include transition();

        svg {
          max-height: 25px;
          max-width: 30px;
        }
        &.checked,
        &:hover {
          background-color: $color_red_middle;
          color: $color_white;
        }
      }

      &_busket {
        margin-bottom: 10px;
      }
    }
  }
}

.catalog-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;

  &_item {
    display: flex;
    align-items: center;
    color: $color_gray_lighter;
    margin-right: 70px;
    position: relative;
    margin-bottom: 30px;
    svg {
      margin: 0 8px;
    }
  }
}
