.catalog-sections {
  &_title {
    background: $color_gray_darkest;
    color: $color_white_dirty;
    margin: 2px;
    width: auto;
    height: 73px;
    padding: 2px 25px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_items {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color_white_dirty;
    margin: 2px;
    color: $color_gray_ligten;
    width: 73px;
    height: 73px;
    font-size: 10px;
    padding: 2px;
    line-height: 1.2;
    border-bottom: 3px solid transparent;
    @include transition();

    &:hover {
      border-bottom: 3px solid $color_gray;
      text-decoration: none;
    }
  }
}