.table_compare {
  &_sort {
    display: inline-flex;
    justify-content: end;
    padding: 2rem 0 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid $color_gray_lighter;

    & .active {
      color: $color_red_middle;
    }

  }
  tr {
    td {
      width: 150px;
      min-width: 150px;
      text-align: center;
      padding: 15px 10px;
      font-size: 14px;

      img {
        width: 150px;
        height: 150px;
        object-fit: contain;
      }
    }
  }
  &_title {
    font-weight: 600;
  }
  &_name {
    height: 90px;
    padding: 10px 0;
    display: block;
  }
  &_border {
    border-bottom: 1px solid $color_gray_lighter;
  }
  &_price {
    font-weight: 600;
    color: $color_red_middle;
  }
}