.wr-contacts-title{
  padding-top: 260px;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  position: relative;


  .main__promo_heading{
    text-align: left;
  }

  &_black{
    height: 504px;
    background-color: $color_gray_darkest;
    padding: 150px 0;




  }

}

.wr-contacts-photo{
  height: 600px;
  display: flex;
  justify-content: center;
  overflow: hidden;

  img{
    align-self: center;
  }
}