
//  EVENTS

.wr-events {
  text-align: center;
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto 90px;

  @include mobile-all() {
    margin-bottom: 40px;
  }

  .title-center{
    color: $color_gray_middle;
    font-family: $font_family_title;
    font-size: #{$font_size_h1}px;
    font-weight: 700;
    letter-spacing: 0.72px;
    line-height: 55px;
  }

  .events-text {
    color: $color_gray_light;
    font-weight: 400;
    padding: 65px;

    h3{
      font-family: $font_family_title;
      font-size: #{$font_size_h3}px;
      letter-spacing: 0.22px;
    }

    p{
      font-family: $font_family_base;
      font-size: #{$font_size}px;
      line-height: 24px;
    }

    @include tablet-all() {
      margin: 0 10px 20px;
    }
    @include mobile-all() {
      margin: 0 10px 20px;
    }
  }

  .swipebox {
    display: block;
    overflow: hidden;

    img {
      @include transition(all, .5s, ease);
      object-fit: cover;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.wr-events-month {
  text-align: center;
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto 90px;

  .events-month{
    color: $color_gray_ligten;
    font-family: $font_family_base;
    font-size: #{$font_size}px;
    font-weight: 400;
    line-height: 50px;
    padding: 0 30px;

    @include tablet-portrait() {
      font-size: #{$font_size_sm}px;
      letter-spacing: -0.5px;
      padding: 0 25px;
    }

    @include mobile-all() {
      font-size: #{$font_size_sm}px;
    }

    span{
      display: inline-block;
      padding: 0 20px;
    }
  }
  .active{

    span{
      background-color: $color_gray_darkest;
    }
  }

}
