.wr-aside {
  z-index: 99;
  position: absolute;
}

//FLYING NAV

.wr-flying-nav {
  position: fixed;
  width: 0;
  height: calc(100vh - 100px);
  top: 45px;
  right: 60px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  z-index: 91;

  @include mobile-all() {
    top: 12px;
    right: 0;
    height: auto;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }

  &_links {

    &_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color_white_dirty_opacity80;
      border: 1px solid $color_gray_lighter;
      margin-bottom:5px;
      width: 40px;
      height: 40px;

      @include mobile-all() {
        margin-right: 10px;
      }


      svg {
        overflow: visible;
        width: 50%;
      }
    }
  }
}

#icon-call,
#icon-login,
#icon-selected,
#icon-baloon,
#icon-compare {
  @include mobile-all() {
    display: none;
  }
}


//FLYING PAGES

.wr-icon{
  position: fixed;
  z-index: 90;
  left: 0;
  top:0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $color_gray_opacity60;
  transform: translateX(100%);
  //transform: translateX(0);
  transition: transform 0.5s ease;

  &_basket{
    width: 50%;
    right: 0;
    left: auto;
    overflow-y: auto;
    padding: 30px 100px;
    transition: transform 0.8s ease;

    @include tablet-landscape(){
      width: 80%;
    }

    @include tablet-portrait(){
      width: 100%;
    }

    @include mobile-all(){
      width: 100%;
    }
  }
}

.hide-products{
  transform: translateY(-100vh);
}

.icon-active{
  transform: translateX(0%);
}

.search{
  display: flex;
  margin: auto 15px;

  @include mobile-all() {
    flex-wrap: wrap;
    margin: auto;
  }

  &__input{
    width: 100%;
    height: 56px!important;
    padding-left: 15px!important;
  }

  &__btn{

    @include mobile-all() {
      width: 100%;
      margin-top: 10px;
    }
  }
}

.basket {

  &__title {
    padding: 15px auto;
    background-color: $color_white_dirty;
    margin-bottom: 10px;
    color: $color_gray_middle;
    font-size: #{$font_size_h2_max}px;
    font-weight: normal;
    text-align: center;
    padding: 20px;
    width: 100%;
  }


  &__product {
    width: 100%;
    background-color: $color_white;
    display: flex;
    padding: 20px 40px 25px 20px;
    transition: all 0.8s ease;

    &_img {
      width: 150px;
      margin-right: 20px;
      img {
        max-width: 150px;
        max-height: 150px;
        object-fit: contain;
      }
    }

    &_text {
      width: 100%;
    }


    &_gray{
      background-color: $color_white_dirty_opacity50;

      @include mobile-all(){
        background-color:$color_white_dirty_opacity75;
      }
    }

  }

  .basket-item-block-amount {
    .basket-item-amount-btn-minus {
    }
    .basket-item-amount-btn-plus {
    }
    .basket-item-amount-filed-block {
    }
  }

  .close{
    transition: all 0.5s ease;
    display: none;
  }

  .product-name{
    max-width: 300px;
    width: 100%;
    font-family: $font_family_base;
    font-size: #{$font_size}px;
    font-weight: 400;
    letter-spacing: 0.28px;
    color: $color_gray_light;
    line-height: 24px;
    margin-bottom: 15px;

    @include mobile-all(){
      max-width: 100%;
    }
  }

  .product-price{
    color: $color_red_middle;
    font-family: $font_family_title;
    font-size: #{$font_size_xl}px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-right: 20px;

    @include mobile-all(){
      margin-left: 140px;
      font-size: #{$font_size_md}px;
      margin-bottom: 15px;
    }

    &_selected{

      @include mobile-all(){
        margin-left: 150px;
        font-size: #{$font_size}px;
        line-height: 35px;
      }
    }
  }

  .product-info{
    font-size: #{$font_size_xs}px;
    font-weight: 400;
    margin-bottom: 20px;
    color: $color_gray_light;
    font-family: $font_family_base;
    line-height: 24px;

    @include mobile-all(){
      margin-bottom: 15px;
    }
  }

  .basket-calc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @include mobile-all(){
      bottom: 55px;
      left: 1px;
    }

    //&::before{
    //  position: absolute;
    //  left: -50px;
    //  top: -5px;
    //  display: flex;
    //  flex-direction: row;
    //  justify-content: center;
    //  align-items: center;
    //  flex-wrap: nowrap;
    //  width: 35px;
    //  height: 35px;
    //  content: "-";
    //  color: $color_white;
    //  background-color: $color_gray_light;
    //  cursor: pointer;
    //}
    //
    //&::after{
    //  position: absolute;
    //  left: 37px;
    //  top: -5px;
    //  display: flex;
    //  flex-direction: row;
    //  justify-content: center;
    //  align-items: center;
    //  flex-wrap: nowrap;
    //  width: 35px;
    //  height: 35px;
    //  content: "+";
    //  color: $color_white;
    //  background-color: $color_gray_light;
    //  cursor: pointer;
    //}

    &__minus{
      margin-right: 15px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      width: 35px;
      height: 35px;
      content: "-";
      color: $color_white;
      background-color: $color_gray_light;
      cursor: pointer;
    }

    &__number{
      min-width: 25px;
      text-align: center;
      font-size: #{$font_size_h3}px;
      line-height: 35px;
    }

    &__plus{
      margin-left: 15px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      //display: inline-block;
      width: 35px;
      height: 35px;
      content: "+";
      color: $color_white;
      background-color: $color_gray_light;
      background-position: center;
      cursor: pointer;
    }


  }

  .basket-btns {
    position: absolute;
    bottom: 100px;
    right: 71px;

    @include mobile-all(){
      bottom: 60px;
      left: 55px;
    }

    &::before{
      position: absolute;
      left: -50px;
      top: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      width: 35px;
      height: 35px;
      content: "";
      color: $color_white;
      background-color: $color_gray_light;
      background-image: url(../../img/icons/icon_compare.svg);
      background-repeat: no-repeat;
      background-size: 37px 19px;
      background-position: center;
      cursor: pointer;
    }

    .btn{
      height: 35px;
      padding:0 35px;

      @include mobile-all(){
        padding:0 5px;
      }
    }
  }

  &__result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 23px 70px;
    background-color: $color_white_dirty;
    opacity: 0.9;
    transition: all 0.8s ease;

    @include mobile-all(){
      padding: 15px 5px;
    }

    .result-text{
      color: $color_gray_light;
      font-family: $font_family_title;
      font-size: #{$font_size_xl}px;
      font-weight: 400;
      letter-spacing: 0.22px;
    }

    .result-number{
      color: $color_red_middle;
      font-family:  $font_family_title;
      font-size: #{$font_size_h2_max}px;
      font-weight: 600;
      letter-spacing: 0.14px;

      @include mobile-all(){
        font-size: #{$font_size_xl}px;
      }
    }
  }

  &__buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    transition: all 0.8s ease;

    @include mobile-all(){
      flex-wrap: wrap;
    }

    .btn{
      flex: 1;
      width: 100%;
      height: 70px;

      @include mobile-all(){
        max-width: 100%;
        margin-bottom: 10px;
      }

    }
  }
}