header {
  position: absolute;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0 0;

  .container {
    max-width: #{map-get($container-max-widths, xl)};
  }
  .top-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    &__toggle-nav {
      > a {
        background-image: url("../img/icons/toggle-menu.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        width: 41px;
        height: 35px;
      }
    }

    &__logo {
      > a {
        background-image: url("../img/logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        width: 331px;
        height: 76px;
      }
    }

    &__location-switcher {
      &_toggle {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        color: $color_gray_ligten;
        font-size: #{$font_size_sm}px;
        cursor: pointer;
        .city {
          border-bottom: 1px solid $color_gray_ligten;
        }
        .address {

        }
      }
    }

    &__phones {
      &_list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        margin: 0;
        color: $color_gray_ligten;

        &_item {
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-end;
          list-style: none;
          padding-left: 22px;

          .number {
            color: $color_gray_ligten;
            border-bottom: 1px solid $color_gray_ligten;
            text-decoration: none;
          }
          .label {
            font-size: #{$font_size_sm}px;
          }
        }
      }
    }
  }

  .nav-menu {
    font-family: $font_family_title;
    font-size: #{$font_size_lg}px;
    text-transform: uppercase;
    padding: 44px 0 12px;
    &__list {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &_item {
        &_link {
          color: $color_gray_middle;
          padding: 0;
        }
      }
    }
  }

  &.light .top-row {

    &__toggle-nav {
      > a {
        background-image: url("../img/icons/toggle-menu-white.svg");
      }
    }

    &__logo {
      > a {
        background-image: url("../img/logo-white.png");
      }
    }

    &__location-switcher {
      &_toggle {
        color: $color_white;
        .city {
          border-color: $color_white;
        }
      }
    }
    &__phones {
      &_list {
        &_item {
          color: $color_white;
          .number {
            color: $color_white;
            border-color: $color_white;
          }
        }
      }
    }
  }

  &.light .nav-menu {
    &__list {
      &_item {
        &_link {
          color: $color_white;
        }
      }
    }
  }
}

.modal-backdrop.show {
  z-index: 100;
  opacity: 1;
  background-color: $color_gray_darkest;
}

.toggle-nav {
  .modal-content {
    border: none;
  }
  .modal-body {
    background-color: $color_gray_darkest;
    color: $color_gray_lighter;
    width: 100%;
    z-index: 101;
    padding: 0;
  }

  &_pills {
    height: 100%;
    display: flex;
    flex-direction: column;

    &_link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      width: 100%;
      font-size: 40px;
      line-height: 1;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px;
      text-align: center;
      border: 1px solid $color_white_dirty;
      @include transition();

      &:hover,
      &.active {
        background-color: $color_white_dirty;
        color: $color_gray_darkest;
        text-decoration: none;
      }
    }
  }

  &_col {
    border: 1px solid $color_white_dirty;
    @include transition();

    a {
      color: $color_gray_lighter;
    }

    h4 {
      margin-bottom: 45px;

      a {
        color: $color_gray_lighter;
        font-weight: normal;
        line-height: #{$line_height_sm}px;
        span {
          max-width: 115px;
          margin-bottom: 23px;
          text-align: center;
        }
      }
    }
    &:hover {
      background-color: $color_white_dirty;
      a, p, h4 {
        color: $color_gray_middle;
      }
      h4 {
        a {
          color: $color_red_middle;
        }
      }
    }
  }

  .pills-item {
    height: 100%;
    a {
      text-decoration: none;
    }
    &_text {
      margin-bottom: 30px;
      h4 {
        font-weight: normal;
        margin-bottom: 30px;
      }
      p {
        line-height: 1.5;
        margin-bottom: 10px;
      }
    }
    img {
      max-width: 100%;
      object-fit: cover;
    }
    .more-btn_down {
      height: 100%;
      font-weight: bold;
      color: $color_red_middle;
    }
  }
}
