header {
  position: absolute;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0 0;

  @include mobile-all() {
    position: fixed;
  }

  .container {
    max-width: #{map-get($container-max-widths, xl)};
    height: auto;

    @include media((
            height: (all: 80px, sm: 42px)
    ));
  }
  .top-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    &__toggle-nav {
      > a {
        background-image: url("../img/icons/toggle-menu.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        margin-right: 20px;
        width: 41px;
        height: 35px;

        @include media((
                width: (all: 41px, sm: 27px),
                height: (all: 35px, sm: 18px)
        ));
      }
    }

    &__logo {
      > a {
        background-image: url("../img/logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        width: 310px;
        height: 70px;

        @include media((
                width: (all: 310px, sm: 140px),
                height: (all: 70px, sm: 32px),
                margin-right: (all: 60px, sm: 0)
        ));
      }
    }

    &__location-switcher {

      @include media((
              display: (all: inline-flex, lg: flex, sm: none),
              flex-direction: (all: row, lg: column),
              justify-content: (all:space-between, lg: flex-end),
              align-items: (all: center, lg: flex-end),
              margin-right: (all: 0rem, lg: 3rem),
              width: (all: calc(100% - 330px - 3rem))
      ));
    }

    &__phones {
      &_list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        margin: 0;
        color: $color_gray_ligten;

        &_item {
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-end;
          list-style: none;
          padding-left: 22px;

          .number {
            color: $color_gray_ligten;
            border-bottom: 1px solid $color_gray_ligten;
            text-decoration: none;
          }
          .label {
            font-size: #{$font_size_sm}px;
          }
        }
      }
    }
  }

  .nav-menu {
    font-family: $font_family_title;
    font-size: #{$font_size_lg}px;
    text-transform: uppercase;
    padding-top: 35px;

    &__list {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &_item {
        &_link {
          color: $color_gray_middle;
          padding: 0;
        }
      }
    }

    @include media((
            display: (xxl:flex, all:flex, lg: none)
    ));
  }

  &.light .top-row {

    &__toggle-nav {
      > a {
        background-image: url("../img/icons/toggle-menu-white.svg");
      }
    }

    &__logo {
      > a {
        background-image: url("../img/logo-white.png");
      }
    }

    &__location-switcher {
      &_toggle {
        color: $color_white;
        .city {
          border-color: $color_white;
        }
      }
    }
    &__phones {
      &_list {
        &_item {
          color: $color_white;
          .number {
            color: $color_white;
            border-color: $color_white;
          }
        }
      }
    }
  }

  &.light .nav-menu {
    &__list {
      &_item {
        &_link {
          color: $color_white;
        }
      }
    }
  }
}

// locationPicker COMPONENT
.locationPicker {
  padding: 0 0 0.25rem 24px;
  position: relative;
  font-size: #{$font_size_sm}px;

  &__label {
    position: relative;
    color: $color_gray_ligten;

    &__pointer {
      position: absolute;
      left: -28px;
      top: 6px;
      width: 24px;
      height: 24px;
      svg {
        stroke: $color_gray_ligten;
      }
    }
    &__city {
      border-bottom: 1px dashed $color_gray_ligten;
      display: inline;
      cursor: pointer;
      @include transition(0.3s, ease-in-out);
    }
    &__address {
      @include transition(0.3s, ease-in-out);
    }
  }

  &__list {
    background-color: $color_white;
    position: absolute;
    left: 0;
    top: 48px;
    display: none;
    opacity: 0;
    min-width: 250px;
    width: 100%;
    padding: 0rem;
    margin: 0.25rem 0 0 1.5rem;
    border: 1px solid $color_gray;
    z-index: 10;

    @include transition(0.3s, ease-in-out);

    &__item {
      cursor: pointer;
      list-style: none;
      padding: 0.5rem 1.5rem;

      &:first-of-type {
        padding-top: 0.75rem;
      }
      &:last-of-type {
        padding-bottom: 0.75rem;
      }
      &:hover {
        background-color: $color_gray_ligten;
        color: $color_white;
      }
      &.active {
        background-color: $color_gray;
        color: $color_white;
      }
    }
  }

  &.show &__list {
    display: block;
    opacity: 0.95;
  }

  &:hover &__label {
    color: $color_red_middle;
    &__city {
      border-bottom: 1px dashed $color_red_middle;
    }
  }
  &:hover &__label {
    svg {
      stroke: $color_red_middle;
    }
  }
}

// phoneList COMPONENT
.phoneList {
  padding: 0;
  margin: 0;
  font-size: #{$font_size_sm}px;

  @include media((
          display: (all:flex, md: none),
          flex-direction: (all: row),
          justify-content: (all: space-between, lg: flex-end)
  ));

  &__item {
    color: $color_gray_ligten;
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    padding: 0.5rem 0 0.5rem 2rem;
    @include media((
            display: (all: inline-flex, xl: flex)
    ));

    &__phone {
      //@extend .large;
      border-bottom: 1px dashed $color_gray_ligten;
      cursor: pointer;
      text-decoration: none;
      white-space: nowrap;
      @include transition(0.3s, ease-in-out);
    }

    &__label {
      @extend .small;
      @include media((
              display: (xxl:inline-flex, all:inline-flex, lg: none)
      ));
    }

    &:hover &__phone {
      color: $color_red_middle;
      border-bottom: 1px dashed $color_red_middle;
      text-decoration: none;
    }

    &:hover &__label {
      color: $color_red_middle;
    }

    @include media((
            padding-left: (xxl:2rem, all:1rem, lg: 1rem)
    ));
  }
}

.toggle-nav {
  background-color: $color_gray_darkest;
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  z-index: 200;
  overflow: hidden;
  overflow-y: auto;
  opacity: 0;
  width: 100%;

  @include transition(all, 0.5s, ease-in);

  &.show {
    opacity: 1;
    left: 0;
  }
  .modal-body {
    background-color: $color_gray_darkest;
    color: $color_gray_lighter;
    width: 100%;
    z-index: 101;
    padding: 0;
    height: 560px;
    max-height: 560px;

    .row,
    .tab-content,
    .tab-content .tab-pane {
      height: 100%;
    }
  }

  &_pills {
    height: 100%;
    display: flex;
    flex-direction: column;

    &_link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      width: 100%;
      font-size: #{$font_size_h1}px;
      line-height: 1;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px;
      text-align: center;
      border: 1px solid $color_white_dirty;
      @include transition();

      &:hover,
      &.active {
        background-color: $color_white_dirty;
        color: $color_gray_darkest;
        text-decoration: none;
      }
    }
  }

  &_col {
    border: 1px solid $color_white_dirty;
    @include transition();

    a {
      color: $color_gray_lighter;
    }

    h4 {
      margin-bottom: 45px;

      a {
        color: $color_gray_lighter;
        font-weight: normal;
        line-height: #{$line_height_sm}px;
        span {
          max-width: 115px;
          margin-bottom: 23px;
          text-align: center;
        }
      }
    }
    &:hover {
      background-color: $color_white_dirty;
      a, p, h4 {
        color: $color_gray_middle;
      }
      h4 {
        a {
          color: $color_red_middle;
        }
      }
    }
  }

  .pills-item {
    height: 100%;
    a {
      text-decoration: none;
    }
    &_text {
      margin-bottom: 30px;
      h4 {
        font-weight: normal;
        margin-bottom: 15px;
      }
      p {
        line-height: 1.5;
        margin-bottom: 10px;
      }
      &_img {
        margin-right: 10px;
        img {
          max-width: 100%;
          object-fit: cover;
        }
      }

      .pills-item_text_news {
        max-height: 6rem;
        overflow: hidden;
        margin-bottom: 20px;
      }
    }

    img {
      max-width: 100%;
      object-fit: cover;
    }

    .more-btn_down {
      height: 100%;
      font-weight: bold;
      color: $color_red_middle;
    }
  }
}
