.main__sections-nav {

  .container {
    max-width: #{map_get($container-max-widths, xl)};

    @include mobile-all() {
      padding: 0;
    }
  }

  &__level-0 {
    margin-bottom: 60px;
  }

  &__level-1{
    background-color: $color_gray_darker;
    padding: 60px 0 30px;

    @include mobile-all() {
      padding: 50px 0 5px;
    }
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;



    .pic {
      display: block;
      margin-bottom: 20px;

      @include media-breakpoint-down(md) {
        &:after {
          content: none;
        }
      }

      &_transform{

        @include media-breakpoint-down(sm) {
          transform: translateX(10px);
        }
      }
    }
    .label {
      display: block;
      text-transform: uppercase;
    }

    &.active {
      color: $color_red_middle;
      &:after {
        position: absolute;
        content: '';
        background-image: url("/img/icons/icon-active-section-arrow.svg");
        width: 50px;
        height: 16px;
        bottom: -30px;


      }
      img{
      }

      @include media-breakpoint-down(md) {
        &:after {
          content: none;
        }
      }
    }

    &_content{

      @include mobile-all() {
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 15px;
      }

      .pic{

        @include mobile-all() {
          margin-bottom: 0;
          position: absolute;
          height: 50px;
        }
      }

      .label{

        @include mobile-all() {
          margin-left: 85px;
          //font-size: #{$font_size_sm}px;
        }
      }
    }
  }

  &__level-1 &__card {
    margin-bottom: 30px;
  }

  .tab-content{
    position: relative;
    z-index: 1;
    min-height: 341px;
    height: 100%;



  }

  .tab-pane{
    display: flex;
    position: absolute;


  }

  .row{
    width: 100%;
    margin: auto;
  }

  .nav-tabs{
    .nav-link{
      &:hover{
        border: 1px solid transparent;
      }
    }
  }

  .nav-tabs{
    .nav-link.active {
        color: $color_red_middle;
        background-color: inherit;
        border: none;
    }
  }

  .nav-tabs{
    .nav-item.show {
      .nav-link{
        color: $color_red_middle;
        background-color: inherit;
        border: none;
      }
    }
  }


}