
.wr-map-contacts {
  position: relative;

  .container{
    max-width: 1140px;
    width: 100%;
    position: relative;
    z-index: 1;
    top:-215px;

  }

  .nav-item{
    height: 215px;
    background-color:$color_gray_opacity40;
    transform: scaleY(1);
    transform-origin:bottom;
    transition: transform 0.4s ease;
    color: $color_white;

    span{
      display: block;
      padding: 70px 45px;
      font-family: $font_family_title;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 0.22px;
    }
  }

  .active{
    transform: scaleY(1.16);
    color: $color_gray_middle;

    span{
      transform: scaleY(0.86);
    }
  }

  .address{
    display: block;
    padding: 45px;
    font-family: $font_family_title;
    color: $color_gray_middle;

    &__title{
      font-size: 36px;
      font-weight: 600;
      letter-spacing: 0.18px;
      margin-bottom: 30px;
    }

    &__text {
      display: flex;
      justify-content: space-between;
      padding-right: 30px;
    }
    &__item{
      font-size: $font_size;
      font-weight: 400;
      line-height: 30px;

      span{
        font-size: 22px;
      }
    }
  }

  .wr-map-top{
    position: relative;
    height: 892px;
    top:-215px;
    margin-bottom: -215px;
  }
}