
.wr-map-contacts {
  position: relative;

  .container{
    max-width: 1140px;
    width: 100%;
    position: relative;
    z-index: 1;
    top:-250px;

    @include tablet-portrait() {
      top:-120px;
    }

    @include mobile-all() {
      top:-60px;
    }

  }

  .nav-tabs{
    display: flex;
    align-items: flex-end;
  }
  .nav-item{

    height: 215px;
    background-color:$color_gray_opacity40;
    //transform: scaleY(1);
    transform-origin:bottom;
    transition: all 0.4s ease;
    color: $color_white;

    @include tablet-portrait() {
      height: 120px;
    }

    @include mobile-all() {
      height: 60px;
    }

    span{
      display: block;
      padding: 70px 45px;
      font-family: $font_family_title;
      font-size: #{$font_size_h2}px;
      font-weight: 600;
      letter-spacing: 0.22px;

      @include tablet-portrait() {
        padding: 35px;
      }

      @include mobile-all() {
        padding: 5px;
        font-size: #{$font_size_xs}px;
        font-weight: 600;
        letter-spacing: 0;
      }
    }
  }

  .active{
    //transform: scaleY(1.16);
    height: 250px;
    color: $color_gray_middle;


    span{
      //padding: 90px 45px 85px;
      //transform: scaleY(0.86);
    }
  }

  .address{
    display: block;
    padding: 45px;
    font-family: $font_family_title;
    color: $color_gray_middle;
    transform: scaleY(0.86);

    @include mobile-all() {
      padding: 15px 0;
    }

    &__title{
      font-size: #{$font_size_h1}px;
      font-weight: 600;
      letter-spacing: 0.18px;
      margin-bottom: 30px;

      @include mobile-all() {
        padding: 15px 0 5px;
        font-size: #{$font_size_h2}px;
        letter-spacing: -0.2px;
        margin-bottom: 15px;
      }
    }

    &__text {
      display: flex;
      justify-content: space-between;
      padding-right: 30px;

      @include mobile-all() {
       flex-wrap: wrap;
      }
    }
    &__item{
      font-size: #{$font_size}px;
      font-weight: 400;
      line-height: 30px;

      @include mobile-all() {
       margin-bottom: 15px;
      }

      span{
        font-size: #{$font_size_h3}px;
      }
    }
  }

  .wr-map-top{
    position: relative;
    height: 892px;
    top:-215px;
    margin-bottom: -215px;

    @include tablet-portrait() {
      top:-128px;
    }

    @include mobile-all() {
      height: 400px;
      top:-68px;
      margin-bottom: -68px;
    }
  }
}