.wr-tab-blocks {
  position: relative;

  .container{
    max-width: 1140px;
    width: 100%;
    position: relative;
    //z-index: 1;
    //top:-250px;
    //
    //@include tablet-portrait() {
    //  top:-120px;
    //}
    //
    //@include mobile-all() {
    //  top:-60px;
    //}

  }

  .nav-tabs {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    border: none;

    .nav-link {
      flex: 1;
      padding: 50px 50px 120px;
      font-size: #{$font_size_h3}px;
      background-color: $color_gray_darken_opacity45;
      color: $color_white;
      margin: 0 1px;
      border: none;
      align-self: end;
      @include transition();

      &:hover {
        border: none;
      }

      &.active {
        padding: 70px 50px 120px;
        background-color: #fff;
        color: $color_gray_middle;
      }
    }
  }

  .nav-item{

    height: 215px;
    background-color:$color_gray_opacity40;
    transform-origin:bottom;
    transition: all 0.4s ease;
    color: $color_white;

    @include tablet-portrait() {
      height: 120px;
    }

    @include mobile-all() {
      height: 60px;
    }

    span{
      display: block;
      padding: 70px 45px;
      font-family: $font_family_title;
      font-size: #{$font_size_h2}px;
      font-weight: 600;
      letter-spacing: 0.22px;

      @include tablet-portrait() {
        padding: 35px;
      }

      @include mobile-all() {
        padding: 5px;
        font-size: #{$font_size_xs}px;
        font-weight: 600;
        letter-spacing: 0;
      }
    }
  }

  //.active{
  //  //transform: scaleY(1.16);
  //  height: 250px;
  //  color: $color_gray_middle;
  //
  //
  //  span{
  //    //padding: 90px 45px 85px;
  //    //transform: scaleY(0.86);
  //  }
  //}

  .tab-blocks_item {
    padding: 110px 45px;
    font-family: $font_family_title;
    color: $color_gray_middle;

    @include mobile-all() {
      padding: 15px 0;
    }

    &_title {
      font-size: #{$font_size_h1}px;
      font-weight: 600;
      text-transform: none;
      padding: 0;
      margin-bottom: 30px;

      @include mobile-all() {
        padding: 15px 0 5px;
        font-size: #{$font_size_h2}px;
        letter-spacing: -0.2px;
        margin-bottom: 15px;
      }
    }

    &_text {
      p {
        line-height: 30px;
        margin-bottom: 0;
      }
    }
  }

  //.wr-map-top{
  //  position: relative;
  //  height: 892px;
  //  top:-215px;
  //  margin-bottom: -215px;
  //
  //  @include tablet-portrait() {
  //    top:-128px;
  //  }
  //
  //  @include mobile-all() {
  //    height: 400px;
  //    top:-68px;
  //    margin-bottom: -68px;
  //  }
  //}
}