.top-slider {
  .swiper-slide {
    img, video {
      width: 100%;
      height: 100vh;
      object-fit: cover;

      @include mobile-all() {
        height: 210px;
      }
    }
    .swiper-slide_text {
      position: absolute;
      bottom: 0;
      background-color: $color_gray_darken_opacity45;
      color: $color_white_dirty;
      padding: 30px 50px 100px;
      text-align: center;

      @include mobile-all() {
        padding: 15px 30px 60px;
      }

      h2 {
        font-size: #{$font_size_h3}px;
        line-height: #{$line_height_h3}px;

        @include descktopxxl() {
          font-size: #{$font_size_h2}px;
          line-height: #{$line_height_h2}px;
        }

        .sale {
          display: inline-block;
          color: $color_red_middle;
          background-color: $color_white_dirty;
          font-size: 42px;
          padding: 10px 28px 15px;
          border-radius: 35px;
          margin: 20px 0;
        }
      }
    }
  }
  .swiper-button-prev {
    left: 90px;

  }
  .swiper-button-next {
    right: 90px;

  }
}

