.top-slider {
  .swiper-slide {
    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
  .swiper-button-prev {
    left: 90px;
  }
  .swiper-button-next {
    right: 90px;
  }
}

